<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>State SAT Scores</title>
	</head>
	<body>
		<h1 id="state"></h1>
		<svg id="svg" width="1000" height="500"></svg>
		<br>

		<button type="button" id="rend">Render</button>
		<button type="button" id="tran">Transition</button>
		
		<p>This is a chart showing the SAT scores for each state (and a few territories) from 2005 to 2015 (top to bottom). Pressing "render" gives the first state alphabetically - Alabama. "Transition" moves to the next state, while pressing "render" again goes back to the beginning.</p>
		
		<script src="http://d3js.org/d3.v5.min.js"></script>
  		<script type="text/javascript">
    		var scores = {{ scores|tojson }}
    		var states = {{ states|tojson }}
  		</script>
  		<script src="static/charts.js"></script>
	</body>
</html>
